################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UsefulExtensionMethods/.vs/UsefulExtensionMethods/v16/Server/sqlite3
/UsefulExtensionMethods/UsefulExtensionMethods/bin/Debug/netcoreapp2.2
/UsefulExtensionMethods/UsefulExtensionMethods/obj
/.vs/UsefulExtensionMethods/v16
/.vs
